// .preloader {
//     position: fixed;
//     inset: 0;
//     z-index: 9999999999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: #000; // Or your desired background color
// }

// .centerBox {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.preloader {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// .maskLogo {
//     width: 150px;
//     height: 150px;
//     background: white;

//     mask-image: url("/assets/images/twr_svg_logo1.svg");
//     -webkit-mask-image: url("/assets/images/twr_svg_logo1.svg");

//     mask-repeat: no-repeat;
//     -webkit-mask-repeat: no-repeat;

//     mask-position: center;
//     -webkit-mask-position: center;

//     mask-size: 150px;
//     -webkit-mask-size: 150px;
// }
