 <div className="flex justify-center items-start stack-card">
              {/* Left Image Card */}
              <div className={`${styles.stack_card}`}>
                <Image
                  src={"/assets/images/dummy_feed2.png"}
                  alt=""
                  fill
                  style={{ objectFit: "cover" }}
                  sizes="(max-width: 600px) 100vw, 500px"
                />
              </div>

              {/* Middle Border */}
              <div className="w-px h-full bg-gray-400 mx-4" />

              {/* Right Image Card */}
              <div className={`${styles.stack_card}`}>
                <Image
                  src={"/assets/images/dummy_feed4.png"}
                  alt=""
                  fill
                  style={{ objectFit: "cover" }}
                  sizes="(max-width: 600px) 100vw, 500px"
                />
              </div>
            </div>