.flip_card {
  height: 400px;
  width: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  perspective: 1000px;

  .card_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    // transition: all 1s ease;
    transition: transform 1s ease; // only transform
    will-change: transform;

    &:hover {
      transform: rotateY(180deg);
    }

    .card_front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; // Safari fix
      pointer-events: none;
    }

    .card_back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; // Safari fix
      transform: rotateY(180deg);
      pointer-events: none;
    }
  }
}

@media (max-width: 768px) {
  .flip_card {
    height: 330px;
    width: 250px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .flip_card {
    height: 330px;
    width: 300px;
  }
}