// .aboutsection_container {
//     background-image: url('/assets/images/neon-lights-bg-2.png'), url('/assets/images/rw-2.png');
//     background-repeat: no-repeat, no-repeat;
//     background-position: center center, center 168px;
//     padding-top: 80px;
// }

.aboutsection_container {
    position: relative;
    z-index: 10;
    background-image: url('/assets/images/neon.png'), url('/assets/images/rw-bg.png');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}


.about_text {
    width: 750px;
    padding-block: 24px;
    padding-inline: 18px;
}

@media (max-width : 640px) {
    .img_border {
  border: 3px solid;
  border-inline-color: #63a9f5;
  border-block-color: #ed7eee;
  box-shadow: -14px -9px 19px 0px rgba(237, 126, 238, 0.48);
  -webkit-box-shadow: -14px -9px 19px 0px rgba(237, 126, 238, 0.48);
  -moz-box-shadow: -14px -9px 19px 0px rgba(237, 126, 238, 0.48);
}
}